#daily .list_textRow .text_e{
    top: 2.35rem;
}
#daily .list_textRow .taxt_b{
    top: 2.75rem;
}
#daily .list_textRow .taxt_b div {
    white-space: inherit;
    line-height: 1.2em;
    padding-bottom: .1rem;
}
#daily .list_top .list_textRow .text_e{
    top: 1.1rem;
}
#daily .list_top .list_textRow .taxt_b{
    top: 1.5rem;
}
@media (max-width: 750px) {
    #founder_m .founder_right div,#area_m .area_list .text,#contact_m,
    #vision .text3,#vision .text2.text-en-2,#vision .textbox .box{
        font-weight: 200;
    }
    #vision .text3,#vision .text2.text-en-2{
        width: 85%;
        left: 7.5%;
    }
    #area_m .area_list .text{
        width: 85%;
        margin: 0 auto;
        text-align: justify;
    }
    #practitioner .specialText_m {
        top: 3.25rem;
    }
    #vision .text1{
        top: 1.28rem;
    }
    #vision .text2.text-en-2{
        top: 2.28rem;
    }
    #vision .text3{
        top: 3.06rem;
    }
    #vision .text4{
        top: 4.86rem;
    }
    #vision .textbox{
        top: 5.9rem;
    }
    #daily_m .list_top .list_textRow .text_a{
        top: 0.4rem;
        padding-top: 0;
        width: 70%;
        left: 15%;
    }
    #daily_m .list_top .list_textRow .text_e{
        top: 0.9rem;
    }
    #daily_m .list_top .list_textRow .taxt_b{
        top: 1.5rem;
    }
    #daily_m .list_textRow .taxt_b div, #daily_m .list_top .list_textRow .taxt_g div{
        height: auto;
        /* overflow: auto; */
        -webkit-line-clamp:6;
    }
    #daily_m .list_top .list_textRow .taxt_b{
        height: 1.33rem;
        overflow-y: auto;
    }
    .swiper-container .scroll_text_top .scroll_text_e{
        font-size: .26rem;
    }
    #daily_m .list_textRow .taxt_b{
        overflow-y: auto;
        height: 1.33rem;
    }
    .swiper-container .scroll_text_d{
        height: 1.4rem;
        overflow-y: auto;
        top: 3.56rem;
    }
}
